.DS_Store
node_modules
/dist
/output

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
src/assets/xaiyu.png
src/assets/yintian.png
src/assets/多云.png
